<!doctype html>
<html>


<head>
    <title>Wifi map test case</title>

    <h2>Buttons for calling data aggregation</h2>  
</head>

<body>
    <div class="column">
        <div class="large-12 text-center columns">
            <button onclick="location.href='/button1'" type="button">Button 1</button>
            <button onclick="location.href='/button2'" type="button">Button 2</button>
            <button onclick="location.href='/button3'" type="button">Button 3</button>
            <button onclick="location.href='/button4'" type="button">Button 4</button>
            <button onclick="location.href='/button5'" type="button">Button 5</button>            
        </div>
    </div>
</body>

<body>        
    <h5>Button 1 - Count wifi hotspots created by user</h5>  
    <h5>Button 2 - Count wifi hotspots with geoposition created by user</h5>  
    <h5>Button 3 - Count the total number of created by user hotspots during various time periods</h5>  
    <h5>Button 4 - Count the total number of created by user hotspots with desired score values</h5>  
    <h5>Button 5 - Count how many hotspots the user has to which there were more
    than 1, 5 and 10 unique connections during various time periods</h5>  
</body>    

</html>

